body
{
	background-color: #ff8429;
	width: 560px;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
}

#wrapper
{
	background-color: #ffa25d;
	padding: 25px;
	border-radius: 25px;
}

#temperatuurveld
{
	font-size: 40px;
}

#omschrijvingveld
{
	margin-bottom: 5px;
}

#minenmax
{
	font-size: 12px;
}

#icoonveld
{
	margin-top: 25px;
}