extends layout


block content
  div(id='wrapper')
      -if(username)
        div#welcome
          h1#titel= 'welcome ' + username +'!'
        div(id="questionpart")
          h1(class="hoofdtitel") Ask your question here:
          textarea(rows="3", cols="35", id="chat")
          a(href='#', id='send') Ask!
      -else
        -if(errors)
          p(class="errors")= errors 
        form#formLogin(name="login",method="post",action="/index")
          label login to ask a question
          input#inputUserName(type="text", placeholder="Username", name="username")
          input#inputPassword(type="password", placeholder="Password", name="password")
          button#btnSubmit(type="submit") submit
      div(id="messages")
        h1(class="hoofdtitel") All questions asked:

  script.
    var client = new Faye.Client('/faye',{
     timeout: 20
    });
    var $chat = $('#chat');
    $('#send').click(function() {

     client.publish('/channel', {
      text: $chat.val()
     });
    
     $chat.val('');
     return false;
    });
    client.subscribe('/channel', function(message) {
     $('#messages').append('<a href="#" class="question">' + message.text + '</a>' + '</br>');

      $('.question').click(function() {
       var test = $(this)
       console.log(test)
      
      });
     
      return false;
    });