doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='http://code.jquery.com/jquery-latest.min.js')
    script(src='/faye/browser/faye-browser.js')
    script(src='/faye/client.js')
    script(src='/javascript/calculate.js')
      
  body
    block content