extends layout

block content
	div#wrapper
		form#formAddUser(name="adduser",method="post",action="/newuser")
			label nieuwe gebruiker toevoegen
			-if(errors)
				label(class="errors")= errors
			input#inputUserName(type="text", placeholder="Username", name="username")
			input#inputUserPassword(type="password", placeholder="Password", name="userpassword")
			input#inputConfirmPassword(type="password", placeholder="Password", name="userconfirmpassword")
			button#btnSubmit(type="submit") submit