$linkcolor: #00B7FF;
$greencolor: #2C997A;
$imdrood: #e93f3c;

$defaultfontsize: 14px;

body {
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

#wrapper {
	width: 980px;
	margin-left: auto;
	margin-right: auto;
}